<div class="container">
 <header class="header_section">
   <div class="row">
     <h4>Greetings App</h4>
   </div>
  </header>
<form action="/greet" method="post">
<div class="row">

</div>
<div class="Count">
  <div class="row">
    <div class="eight columns input">
        <input type="text"  name="enteredName" class="inputName" placeholder="Enter Name"  required>
        </div>
        <div class="four columns">
        <Span class="counter">count: {{counter}}</Span>          
        </div>
</div>
</div>

       <div class="langGreet">
         <div class="row">
           <div class="three columns">
            <label for="">English</label>
            <input type="radio" name="langauge" class="langauge" id="" value="English" required>
           </div>
          <div class="three columns">
            <label for="">Afrikaans</label>
            <input type="radio" name="langauge" id="" class="langauge" value="Afrikaans" required>
          </div>
          <div class="three columns">
            <label for="">Isixhosa</label>
              <input type="radio" name="langauge" id="" class="langauge" value="IsiXhosa" required>
          </div>
         </div>
      </div>

    <div class="display">
    <div class="row">
      <label for="" class="displayName">{{greetMessage}}</label>
    </div>
    </div>  
    
    <div class="buttons">
      <div class="row">
      <div class="six columns greet">
        <button class="greetMe  GreetBtn"  type="submit">Greet</button>
      </div>
      <div class="six columns reset">
       <a href="/reset"> <button class="reset  resetBtn"  type="button" value="reset">reset</button></a> 
    </div>
    </div>
    </div>

    <div class="row">
      <div class="footer">
       <a href="/greeted" class="greeted"> View greeted people &rarr;</a>
      </div>
    </div>


    
</form>
</div>

 

  
