<div class="container">
    <h1>Greeted People</h1>
</div>

<div class="container">
<div class="row">
    <a href="/" class="arrowLeft">&larr;Back To HOME</a>
  <div class="twelve columns ">
     {{#each nameList}}
  <a href="/counter/{{first_name}}"> <li>{{first_name}}</li></a>
     {{/each}}
 
  <p>{{message}}</p>
   </div>
</div>
</div>




