<div class="container">
    <h1>Greeted People</h1>
</div>

<div class="container">
<div class="row">
  <div class="twelve columns ">
     {{#each nameList}}
  <a href="/counter/{{@key}}"> <li>{{@key}}</li></a>
     {{/each}}
 
  <p>{{message}}</p>
   </div>
</div>
</div>




