<div class="container">
 <header class="header_section">
   <div class="row">
     <h4>Greetings App</h4>
   </div>
  </header>
<form action="/greet" method="post">
<div class="row">

</div>
<div class="Count">
  <div class="row">
    <div class="eight columns input">
        <input type="text"  name="enteredName" class="inputName" placeholder="Enter Name"  required>
        </div>
        <div class="four columns">
        <Span class="counter">count: {{counter}}</Span>          
        </div>
</div>
</div>

       <div class="langGreet">
         <div class="row">
           <div class="three columns">
            <label for="">English
            <input type="radio" name="langauge" class="langauge" id="" value="English" required></label>
           </div>
          <div class="three columns">
            <label for="">Afrikaans
            <input type="radio" name="langauge" id="" class="langauge" value="Afrikaans" required></label>
          </div>
          <div class="three columns">
            <label for="">Isixhosa
            <input type="radio" name="langauge" id="" class="langauge" value="IsiXhosa" required></label>
          </div>
         </div>
      </div>

    <div class="display">
    <div class="row">
      <label for="" class="displayName">{{nameGreeted}}</label>
    </div>
    </div>  

    <div class="buttons">
      <div class="row">
      <div class="six columns greet">
        <button class="greetMe  GreetBtn"  type="submit">Greet</button>
      </div>
      <div class="six columns reset">
        <button class="reset  GreetBtn"  type="reset">reset</button>
    </div>
    </div>
    </div>

    <div class="row">
      <div class="footer">

      </div>
    </div>


    
</form>
</div>

 

  
